# Identify which Airtable base we'll be pulling data from (generally the actual hub base, or the staging base)
AIRTABLE_APP_KEY=

# Links to the hub leader form and state of the hub form -- which are specific to the Airtable base
LEADER_FORM=
SOTHUB_FORM=

# Put your personal Airtable API key here
AIRTABLE_API_KEY=

# Put in an API key to access google maps (for previewing map marker placement)
GOOGLE_MAPS_API_KEY=

# Not required for local development, but the production app requires these fields to upload JSON to S3
AWS_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Let the app know which environment it's in
APP_ENV=development

# Optional environment variable for limiting the set of available hubs to a small set of beta testers
HUB_BETA_TESTERS=
