%h2.title #{@hub['Name']} 

%h2.title #{@hub['Name']} Map Preview
%p
  Here you can see a preview of how your hub looks (or will soon look) on the
  map! The
  %a{href: 'https://sunrisemovement.org/hubs'} actual hub map
  might be up to 15 minutes out of date, and there might be minor spacing or
  font differences.
%p
  You can edit your hub's map information here:
  %a.button.is-warning{href: '/edit'} Edit Hub Map Info
%br
= haml :_hub_card
