%h1.title Verify your hub's new email

%p
  As a final step to update your hub's email to #{@email}, we've sent a confirmation email to that address. Please click on the link in that email to finalize the update!
