!!!5
%html
  %head
    %title Sunrise Hubhub
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: 'stylesheet', href: "https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" }
    %link{rel: 'stylesheet', type: 'text/css', href: 'bulma.min.css'}
    :css
      @media screen and (max-width: 600px) {
        .is-responsive td, .is-responsive th {
          display: flex;
          border-style: dotted;
        }
        .is-responsive td:first-child {
          border-top: 1px solid #ccc;
        }
        .is-responsive td:last-child {
          border-bottom: 1px solid #ccc;
        }
      }

  %body
    %nav.navbar.is-dark
      .navbar-brand
        %a.navbar-item{href: '/'}
          %img{src: '/s/map_icon.jpg'}
      .navbar-start
        %a.navbar-item{href: '/map'} Map Preview
        - if session[:hub_id]
          %a.navbar-item{href: '/logout'} Log Out
    %main
      %section.section
        .container
          = yield
