!!!5
%html.has-navbar-fixed-top
  %head
    %title Sunrise Hubhub
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: 'stylesheet', type: 'text/css', href: '/sunrisebulma.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/style.css'}
    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/favicon.ico'}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js", integrity: "sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", crossorigin:"anonymous"}

  %body
    %nav.navbar.is-dark.is-fixed-top
      .navbar-brand
        %a.navbar-item{href: '/'}
          %img{src: '/s/map_icon.jpg'}
          - if session[:hub_id]
            - if instance_variable_defined?(:@hub)
              %span.hub-brand #{@hub['Name']}

        :erb
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

      .navbar-menu#navbar-menu
        .navbar-start
          - if session[:hub_id]
            %a.navbar-item{href: '/soth', class: ('is-active' if request.path_info.start_with?('/soth'))}
              State of the Hub
            %a.navbar-item{href: '/map', class: ('is-active' if request.path_info == '/map')}
              View Map
            %a.navbar-item{href: '/map/edit', class: ('is-active' if request.path_info == '/map/edit')}
              Edit Map
            %a.navbar-item{href: '/leaders', class: ('is-active' if request.path_info.start_with?('/leaders'))}
              Manage Leaders
            %a.navbar-item{href: '/microsite/edit', class: ('is-active' if request.path_info == '/microsite/edit')}
              Edit Microsite
              &nbsp;
              %span.tag beta!
        - if session[:hub_id]
          .navbar-end
            .navbar-item
              %a.button.is-light{href: '/logout'} Log Out
    %main
      %section.section
        .container
          .content
            - if instance_variable_defined?(:@error_msg)
              - if @error_msg
                %article.message.is-danger
                  .message-body= @error_msg
            = yield

    %footer.footer
      .content.has-text-centered
        %p
          © #{Date.today.year} Sunrise.

  - if ENV['APP_ENV'] == 'test' && session[:hub_id] && instance_variable_defined?(:@hub)
    -# Always render map entry for non-persistent testing purposes
    #map-entry-json{:'data-map-data' => map_entry}

  :javascript
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
