%h1.title Log in to Sunrise Hubhub!
%form{method: 'POST', action: '/login'}
  .field
    .control
      %label.label Your hub
      %select{name: 'hub', id: 'hub-select'}
        - @states.each do |s|
          %optgroup{label: s}
            - @hubs.select { |h| h['State'] == s }.each do |h|
              %option{value: h.id}= h['Name']
      %br
      %p.help
        Select your hub from the dropdown list, and we'll send a login link to its associated email. If your hub isn't appearing, or you aren't sure about your hub's associated email, contact us at
        = succeed '.' do
          %a{href: "mailto:#{ENV['GMAIL_USER']}"}= ENV['GMAIL_USER']
  .field
    .control
      %input.button.is-warning{type: 'submit', value: 'Send Magic Link'}

%script
  $(document).ready(() => $('#hub-select').chosen());
