%h1.title Log In
%form{method: 'POST'}
  .field
    .control
      %label.label Your hub
      .select
        %select{name: 'hub'}
          - @states.each do |s|
            %optgroup{label: s}
              - @hubs.select { |h| h['State'] == s }.each do |h|
                %option{value: h.id}= h['Name']
      %p.help
        Select your hub from the dropdown list, and we'll send an login link to the email we have associated with the hub. If your hub doesn't appear here, contact us in #hubtalk.
  .field
    .control
      %input.button.is-warning{type: 'submit', value: 'Send Magic Link'}
