%h1.title Log In
%form{method: 'POST'}
  .field
    .control
      %label.label Email address
      %input.input{name: 'email', type: 'email'}
      %p.help
        Enter the email associated with your hub to edit it!
  .field
    .control
      %input.button.is-primary{type: 'submit'}
