.field
  %label.label= defined?(label) ? label : field.gsub("_", " ")
  .control
    .select.is-multiple
      %select{multiple: 'multiple', name: "#{field}[]"}
        - (defined?(opts) ? opts : object.class.const_get(:CONFIG)[field]['choices']).each do |opt|
          %option{value: opt, selected: (object[field]||[]).include?(opt)}= opt
      %p.help
        - if defined?(help)
          = help
        - else
          Use control-click or command-click to select multiple.
